{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Item {{ item.title }}</h1>
    {%  if message %}
        <p>{{ message }}</p>
    {% endif %}

    <p>{{ item.id }}. {{ item.title }}</p>
    <a href="/item/edit/{{ item.id }}">Edit</a>
    <form action ="" method="POST">
        <input type="hidden" name="itemId"  value="{{ item.id }}" >
        <input type="hidden" name="itemTitle"  value="{{ item.title }}" >
        <button type="submit" name="submitDelete">Delete</button>
    </form>
    <a href="/">Back</a>

<h2>Comments</h2>
    <h3>New comment</h3>
        <form action ="" method="POST">
        <label for="author">Auteur</label>
        <input type="text" name="author" id="author" value="{{ commentUpd.author }}"><br />
        <label for="comment">Commentaire</label>
        <textarea type="text" name="comment" rows="5" id="comment">{{ commentUpd.comment }}</textarea><br />
        <input type="hidden" name="commentId" id="commentId" value="{{ commentUpd.id }}"><br />
        <input type="hidden" name="createdAt" id="createdAt" value="{{ commentUpd.createdAt }}"><br />

        {% if commentUpd.id %}
            <button type="submit" name="submitCommentUpdate">Modifier</button>
        {%  else %}
            <button type="submit" name="submitComment">Envoyer</button>
        {%  endif %}
        </form>

    <h3>Comments list</h3>
        {% for comment in comments %}
            <li>
                id : {{ comment.id }} - Author : {{ comment.author }} - Created at : {{ comment.createdAtFormat }} - Updated at : {{ comment.updatedAtFormat }} - Comment : {{ comment.comment }}
                <a href="/item/{{ item.id }}?IdCommentToUpdate={{ comment.id }}" >Modifier</a>
                <a href="/item/{{ item.id }}?IdCommentToDelete={{ comment.id }}" >Supprimer</a>
            </li>
        {% else %}
            <li>Nothing to display</li>
        {% endfor %}



{% endblock %}
